
.insight{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 90px 40px;
}
.insight h1{
    text-align: center;
}
.radio-Question{
    margin-top: 20px;
}

.question-insight{
    margin: 0;
    color: gray;
}

.input-question{
    margin-top: 50px;
}
.insight-question__text{
   height: 100px;
   width: 400px;
   border-radius: 0px;

}