.work-prefer{
    display: flex;
    flex-direction: column;
    width: 100%;
   
}
.covid{
    height: auto;
    margin-bottom:40px;
}
.contact-covid{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.Covid-form{
    height: 100%;
    padding-bottom: 100px;
}
.question_h1{
    margin: 4px 0px;
    font-size: 17px;
    color: rgb(34, 33, 33);
    margin-top: 40px ;
}
.non-height{
    background-color: #0C0D0E;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 30px;
}
.when{
    margin-bottom: 30px
}