.submited-container{
    background-color: #0C0D0E;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}
.submited-container__h1{
    font-family: Rowdies;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.11em;
    text-align: left;
    color: white;
}
.header__submit{
    width: 100%;
    height: 30px;
    background-color: #FE3B1F;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 4px 10px;
    
}
.blaa{
    width: 80%;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 40px;
}
.list-submit{
    width: 100%;
    height: 0px;
    background-color: white;
    color: black;  
}

.height{
    height: 100%;
    overflow: hidden;
    padding: 30px 0px;
   
}